version: '3'
services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_USER={{ var.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ var.POSTGRES_PASSWORD }}
      - POSTGRES_DB=database
    ports:
      - 5432:5432
    restart: always
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true