version: '3'
services:
  plex-meta-manager:
    image: meisnate12/plex-meta-manager
    container_name: plex-meta-manager
    environment:
      - TZ={{ var.TZ }}
      - PMM_TIME=03:00
    volumes:
      - {{ var.INT_DIR }}/Data/pmm:/config
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true